{% extends 'pages/base_project_clients.html.twig' %}

{% block finance_detail_block %}
    {% if financeDetails and financeDetails is not empty %}
        <div class="card {{ statusData[0] }}">
            <div class="card-header">
                <div class="row">
                    <div class="col">
                        <h3 class="card-title">Details Financiers du projet</h3>
                    </div>
                </div>
            </div>

            <!--LE body du tableau des finance du projet -->
            <div class="card-body table-responsive p-0">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Auteur</th>
                        <th>Type</th>
                        <th>Montant</th>
                        <th>Montant restant a debourser pour le project</th>
                        <th>Montant restant a rembourser</th>
                        <th>Date d'ajout</th>
                        <th>Document</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for financeDetail in financeDetails %}
                        {% if  financeDetail.amountToReceive == project.finalAmount %}
                            {% set amountInfos = 'Remboursement non amorçé' %}
                        {% else %}
                            {% set amountInfos = financeDetail.amountToReceive %}
                        {% endif %}
                        <tr>
                            <td>{{ financeDetail.user.fullName }}</td>
                            <td>{{ financeDetail.type | getType(financeDetail.type) }}</td>
                            <td>{{ financeDetail.amount }}</td>
                            <td>{{ financeDetail.amountToSend }}</td>
                            <td>{{ amountInfos }}</td>
                            <td>{{ financeDetail.createdAt|date('d-m-Y H:i:s') }}</td>
                            <td>
                                {% if financeDetail.paymentDetailDoc %}
                                    <div>
                                        <a type="button" class="btn btn-secondary col"
                                           href="{{ path('app_download', { 'path' : financeDetail.paymentDetailDoc }) }}">
                                            <i class="fas fa-download"></i>
                                            <span>Telecharger</span>
                                        </a>
                                    </div>
                                {% else %}
                                    <div>
                                        <a type="button" class="btn btn-secondary col">
                                            <i class="fas fa-download"></i>
                                            <span>Pas de document</span>
                                        </a>
                                    </div>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block finance_block %}
    {% if financeDetails %}
        {% set financeDetail = financeDetails|last %}
    {% endif %}

    {% if project.projectMaster.isFinished == false %}
        <form method="post" id="savePaymentForm" enctype="multipart/form-data">
            <div class="card {{ statusData[0] }}">
                <div class="card-header">
                    <div class="row">
                        <div class="col">
                            <h3 class="card-title">Ajouter un raport financier</h3>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <form>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Type de depense</label>
                                    <select class="form-control select2 select2-hidden-accessible" style="width: 100%;"
                                            data-select2-id="1" tabindex="-1" aria-hidden="true" name="dropdownName">
                                        <option selected data-select2-id="1">Sortie</option>

                                        {% if financeDetail %}
                                            <option  data-select2-id="2">Entree</option>
                                        {% endif %}
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Montant a payer</label>
                                    <input type="number" name="amount" required="true" class="form-control"
                                           placeholder="Entrer le montant...">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                <!-- textarea -->
                                <div class="form-group">
                                    <label> Ajouter un document justificatif </label>
                                    <div class="input-group">
                                        <div class="custom-file">
                                            <input type="file" required="true" class="custom-file-input"
                                                   id="financeDetailDoc" name="financeDetailDoc">
                                            <label class="custom-file-label" for="financeDetailDoc">Choisir le fichier</label>
                                        </div>
                                        <div class="input-group-append">
                                            <span class="input-group-text">Upload</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                <!-- textarea -->
                                <div class="form-group">
                                    <label>Detail du payment</label>
                                    <textarea class="form-control" rows="3" name="paymentDetails" required="true"
                                              placeholder="Entrez ..."></textarea>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="card-footer">
                    <div class="col-lg-12">
                        <div class="btn-group w-100">
                            <button type="submit" class="btn btn-info col">
                                <i class="fas fa-plus"></i>
                                <span>Enregister ce rapport</span></button>

                            <a type="button" class="btn btn-danger col"
                               href="{{ path('acc_lack_fund', {requestId: project.projectMaster.requestId}) }}">
                                <i class="fas fa-times-circle"></i>
                                <span>Notifier que le projet manque de fonds</span>
                            </a>

                        </div>
                    </div>

                </div>
            </div>
        </form>
    {% endif %}

{% endblock %}


{% block footer_block %}
    <div class="card-footer">
        <a type="button" class="btn btn-secondary col"
           href="{{ path('admin') }}">
            <i class="fas fa-times-circle"></i>
            <span>Quitter</span>
        </a>
    </div>
{% endblock %}
