{% extends 'pages/base_project_clients.html.twig' %}

{% block footer_block %}
    <div class="card-footer">
        <div class="row">
            <div class="col-lg-12">
                <div class="btn-group w-100">

                    {% set projectStatus = project.status %}
                    {% if (projectStatus != 'REJETE') %}
                        {% set buttonValidationType = 'Valider pour le financement' %}
                        {% set buttonContinuationType = "Continuer l'analyse du projet plus tard"  %}
                        <!-- We have to change this two because they are related to interview continuation and validation. -->
                        {% set validationLink = "expert_validate_project" %}
                        {% set continuationLink = 'expert_post_interview' %}

                    {% else %}
                        {% set buttonValidationType = "Valider pour l'acces a l'entretien " %}
                        {% set buttonContinuationType = "Continuer l'etude plus tard"  %}
                        {% set validationLink = "expert_send_to_interview" %}
                        {% set continuationLink = 'expert_continue_later' %}
                    {% endif %}

                    <a type="button" class="btn btn-success col" href="{{ path( validationLink, {projectId: project.projectId} ) }}" >
                        <i class="fas fa-plus"></i>
                        <span>{{ buttonValidationType }}</span>
                    </a>
                    <a type="button" class="btn btn-warning col" href="{{ path(continuationLink, {projectId: project.projectId}) }}" >
                        <i class="fas fa-plus"></i>
                        <span>{{ buttonContinuationType }}</span>
                    </a>

                    <a type="button" class="btn btn-danger col" href="{{ path('expert_reject_project', {projectId: project.projectId}) }}" >
                        <i class="fas fa-times-circle"></i>
                        <span>Rejeter le projet</span>
                    </a>

                </div>
            </div>

        </div>
    </div>

{% endblock %}
