{% extends 'pages/base_project_clients.html.twig' %}

{% block footer_block %}
    <div class="card-footer">
        <div class="row">
            <div class="col-lg-12">
                <div class="btn-group w-100">

                    {% set projectStatus = project.status %}


                    {% if projectStatus == 'VALIDE' or projectStatus == 'VALIDE FINANCE'  or projectStatus == 'PROJET MANQUANT DE FONDS' or projectStatus == 'REJETE' or projectStatus == 'PROJET FINI' %}
                        <a type="button" class="btn btn-secondary float-right"
                           href="{{ path('admin') }}">
                            <i class="fas fa-times-circle"></i>
                            <span>Quitter</span>
                        </a>

                    {% else %}
                        {% if (projectStatus == 'ANALYSE DU MANAGER' or projectStatus == 'ANALYSE DU MANAGER EN COURS') %}
                            {% set buttonValidationType = 'Valider pour le financement' %}
                            {% set buttonContinuationType = "Continuer l'analyse du projet plus tard" %}
                            <!-- We have to change this two because they are related to interview continuation and validation. -->
                            {% set validationLink = 'boss_validate_for_finance' %}
                            {% set continuationLink = 'boss_continue_later' %}
                            {% set rejectLink = 'boss_reject_project' %}
                        {% elseif (projectStatus == 'PROJET A REVOIR') %}
                            {% set buttonValidationType = "Renvoyer pour une reetude de l'expert" %}
                            {% set buttonContinuationType = "Revoir plus tard" %}
                            {% set validationLink = "boss_resend_to_expert" %}
                            {% set continuationLink = 'admin' %}
                            {% set rejectLink = 'boss_full_reject' %}
                        {% else %}
                            {% set buttonValidationType = "Valider pour l'acces a l'entretien " %}
                            {% set buttonContinuationType = "Continuer l'etude plus tard" %}
                            {% set validationLink = "expert_send_to_interview" %}
                            {% set continuationLink = 'expert_continue_later' %}
                            {% set rejectLink = 'boss_reject_project' %}

                        {% endif %}

                        <a type="button" class="btn btn-success col"
                           href="{{ path( validationLink, {requestId: project.projectMaster.requestId} ) }}">
                            <i class="fas fa-plus"></i>
                            <span>{{ buttonValidationType }}</span>
                        </a>
                        <a type="button" class="btn btn-warning col"
                           href="{{ path(continuationLink, {requestId: project.projectMaster.requestId}) }}">
                            <i class="fas fa-plus"></i>
                            <span>{{ buttonContinuationType }}</span>
                        </a>

                        <a type="button" class="btn btn-danger col"
                           href="{{ path(rejectLink, {requestId: project.projectMaster.requestId}) }}">
                            <i class="fas fa-times-circle"></i>
                            <span>Rejeter le projet</span>
                        </a>
                    {% endif %}
                </div>
            </div>

        </div>
    </div>

{% endblock %}
