<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bienvenue à PHENIX</title>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="description" content="Bienvenue à PHENIX">
    <meta name="author" content="Xiaoying Riley at 3rd Wave Media">
    <link rel="icon" type="image/png" href="{{ asset('build/images/image_phenix.png') }}"/>

    {% block stylesheets %}
        {{ encore_entry_link_tags('login_demo') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('login_demo') }}
    {% endblock %}
</head>

<body class="app app-login p-0">
<div class="row g-0 app-auth-wrapper">
    <div class="col-12 col-md-7 col-lg-6 auth-main-col p-5">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="app-auth-branding mb-4">
                        <a class="app-logo" href="#"><img class="card-img-top" src="{{ asset('build/images/benin.png') }}" alt="logo"></a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="app-auth-branding mb-4">
                        <a class="app-logo" href="#"><img class="card-img-top"
                                                          src="{{ asset('build/images/image_phenix.png') }}" alt="logo"></a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="app-auth-branding mb-4">
                        <a class="app-logo" href="#"><img class="card-img-top"
                                                          src="{{ asset('build/images/france.png') }}" alt="logo"></a>
                    </div>
                </div>

            </div>
        </div>

        <div class="d-flex flex-column align-content-end">
            <div class="app-auth-body mx-auto">
                <form method="post" id="loginForm">
                    {% if error %}
                        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}
                    <h2 class="auth-heading text-center mb-5 text-success">Se Connecter à PHENIX</h2>
                    <div class="auth-form-container text-left">
                        <form class="auth-form login-form">
                            <div class="email mb-3">
                                <label class="sr-only" for="signin-email">Email</label>
                                <input id="signin-email" name="emailInput" type="email" class="form-control signin-email"
                                       placeholder="Email address" value="{{ last_username }}" required="required">
                            </div><!--//form-group-->
                            <div class="password mb-3">
                                <label class="sr-only" for="signin-password">Mot de Passe</label>
                                <input id="signin-password" name="passwordInput" type="password"
                                       class="form-control signin-password" placeholder="Password" required="required">
                                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                                <div class="extra mt-3 row justify-content-between">
                                    <div class="col-6">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value=""
                                                   id="RememberPassword" name="_remember_me">
                                            <label class="form-check-label" for="RememberPassword">
                                                Se rappeler de moi
                                            </label>
                                        </div>
                                    </div><!--//col-6-->
                                    <div class="col-6">
                                        <div class="forgot-password text-right">
                                            <a href="#">Mot de passe oublié?</a>
                                        </div>
                                    </div><!--//col-6-->
                                </div><!--//extra-->
                            </div><!--//form-group-->
                            <div class="text-center">
                                <button type="submit" class="btn app-btn-primary btn-block theme-btn mx-auto">Connectez
                                    Vous
                                </button>
                            </div>
                        </form>
                    </div><!--//auth-form-container-->
                </form>
            </div><!--//auth-body-->
        </div><!--//flex-column-->
    </div><!--//auth-main-col-->
    <div class="col-12 col-md-5 col-lg-6 h-100 auth-background-col">
        <div class="auth-background-holder">
        </div>
        <div class="auth-background-mask"></div>
        <div class="auth-background-overlay p-3 p-lg-5">
            <div class="d-flex flex-column align-content-end h-100">
                <div class="h-100"></div>
                <div class="overlay-content p-3 p-lg-4 rounded">
                    <div>
                        <strong>Copyright &copy; 2021 <a href="#">PHENIX</a>.</strong>
                        All rights reserved.
                    </div>
                </div>
            </div>
        </div><!--//auth-background-overlay-->
    </div><!--//auth-background-col-->

</div><!--//row-->

</body>
</html>

