{% extends 'base.html.twig' %}

{% block title %} Pin {% endblock %}

{% block body %}
    <h1>{{ doPlural(loan|length,'Pin') }}</h1>
    {% for pin in loan %}
        <article>
            <h2><a href="{{ path('app_show',{ 'id': pin.id }) }}"> {{ pin.title }}</a></h2>
            <p>{{ pin.description|u.truncate(25, '...',false) }}</p>
            <p>Submitted {{ time_diff(pin.createdAt) }}</p>
        </article>
    {% endfor %}
{% endblock%}
