{% extends 'layout.html.twig' %}

{% block body %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>General Form</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">General Form</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">

                <!-- right column -->
                <div class="col-lg-12">

                    {% set statusData = ['card-info'] %}
                    <!-- TABLEAU DES INFOS DU PROJET -->
                    <div class="card {{ statusData[0] }}">
                        <div class="card-header">
                            <div class="row">
                                <div class="col">
                                    <h3 class="card-title">Statut du Projet: {{ project.status }}</h3>
                                </div>
                            </div>
                        </div>

                        <!--LE coprs du tableau des infos du projet -->
                        <div class="card-body table-responsive p-0">
                            <table class="table">
                                <tbody>
                                <tr>
                                    <td><b>ID du projet</b></td>
                                    <td>{{ project.projectId }}</td>
                                </tr>
                                <tr>
                                    <td><b>Nom du projet</b></td>
                                    <td>{{ project.name }}</td>
                                </tr>
                                <tr>
                                    <td><b>Details complet du projet</b></td>
                                    <td>
                                        {{ project.details }}
                                    </td>
                                </tr>
                                <tr>
                                    <td><b>Pret voulu</b></td>
                                    <td>{{ project.amount }}</td>
                                </tr>
                                <tr>
                                    <td><b>Duree&nbspde&nbspremboursement</b></td>
                                    <td> {{ project.repaymentDuration }} mois</td>
                                </tr>
                                <tr>
                                    <td><b>Modalite et echeance</b></td>
                                    <td>{{ project.modalityAmount }} chaque {{ project.modalityPaymentFrequency }}
                                        mois
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- /.card -->

                    <!-- list detail Financier -->
                    {% block finance_detail_block %}

                    {% endblock %}

                    <!-- Ajouter un detail Financier -->
                    {% block finance_block %}

                    {% endblock %}

                    {% if projectNotes %}
                        <!-- TABLEAU DES NOTES DU PROJET -->
                        <div class="card {{ statusData[0] }}">
                        <div class="card-header">
                            <div class="row">
                                <div class="col">
                                    <h3 class="card-title">Notes sur le projet</h3>
                                </div>
                            </div>
                        </div>

                        <!--LE body du tableau des notes du projet -->
                        <div class="card-body table-responsive p-0">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>Auteur</th>
                                    <th>Role</th>
                                    <th>Date d'ajout</th>
                                    <th>Note</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for note in projectNotes %}
                                    <tr>
                                        <td>{{ note.employee.nameSurname }}</td>
                                        <td>{{ note.authorRole }}</td>
                                        <td>{{ note.updatedAt|date('d-m-Y') }}</td>
                                        <td>{{ note.content }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    {% endif %}
                    <!-- /.card -->

                    <!-- Ajouter une Note -->
                    {% block note_block %}
                        <form method="post">
                            <div class="card {{ statusData[0] }}">
                                <div class="card-header">
                                    <div class="row">
                                        <div class="col">
                                            <h3 class="card-title">Ajouter une Note</h3>
                                        </div>
                                    </div>
                                    <br/>
                                    <form type="POST">
                                        <div class="row">
                                            <div class="col">
                                                <!-- textarea -->
                                                <div class="form-group">
                                                    <textarea class="form-control" rows="3" name="noteContent"
                                                              placeholder="Entrez ici toute note ou nouveau detail relatif au projet ...."></textarea>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <button type="submit" class="btn btn-secondary"> Sauvegarder</button>
                                        </div>
                                    </form>
                                </div>

                                <!--note -->
                                <div class="card-body table-responsive p-0">

                                </div>
                            </div>
                        </form>
                    {% endblock %}
                    <!-- /.card -->

                    <!-- TABLEAU DES MEMBRES DU GROUPE -->
                    <div class="card {{ statusData[0] }}">
                        <div class="card-header">
                            <div class="row">
                                <div class="col">
                                    <h3 class="card-title">Informations des membres du groupe</h3>
                                </div>
                            </div>
                        </div>

                        <!--LE tableau des data des clients du team -->
                        <div class="card-body table-responsive p-0">
                            <table class="table">
                                <tbody>
                                {% set numOfClients = projectTeam|length %}
                                <tr>
                                    <td><b>Membre</b></td>
                                    {% for index in 1..numOfClients %}
                                        <td>Membre {{ index }}</td>

                                    {% endfor %}
                                </tr>

                                {% set properties = {
                                    'nameSurname': 'Nom et prénoms',
                                    'phoneNumber': 'Numéro de téléphone',
                                    'email': 'Email',
                                    'nationality': 'Nationalité',
                                    'address': 'Address',
                                    'monthlyIncome': 'Revenu mensuel',
                                    'birthDate': 'Date de naissance',
                                    'profession': 'Profession',
                                } %}

                                {% for key,property in properties %}
                                    <tr>
                                        <td><b> {{ property }} </b></td>

                                        {% for client in projectTeam %}
                                            <td>{{ client[key] }}</td>

                                        {% endfor %}

                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>

                        {% block footer_block %}

                        {% endblock %}
                    </div>
                </div>
                <!--/.col (right) -->
            </div>
            <!-- /.row -->
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
{% endblock %}


