<li class="nav-item">
    <a href="{{ path('app_boss_waiting_confirmation') }}" class="nav-link">
        <i class="nav-icon far fa-circle text-info"></i>
        <p>Projets En Attente De Validation</p>
    </a>
</li>
<li class="nav-item">
    <a href="{{ path('app_boss_analysis_going_on') }}" class="nav-link">
        <i class="nav-icon far fa-circle text-info"></i>
        <p>Projets En Cours D’Analyse</p>
    </a>
</li>
<li class="nav-item">
    <a href="{{ path('app_boss_been_validated') }}" class="nav-link">
        <i class="nav-icon far fa-circle text-info"></i>
        <p>Projets Validés Attendant Le Financement</p>
    </a>
</li>
<li class="nav-item">
    <a href="{{ path('app_boss_validated_financed') }}" class="nav-link">
        <i class="nav-icon far fa-circle text-info"></i>
        <p>Projets Validés Financés</p>
    </a>
</li>
<li class="nav-item">
    <a href="{{ path('app_boss_validated_lacking') }}" class="nav-link">
        <i class="nav-icon far fa-circle text-info"></i>
        <p>Projets Manquant De Fonds</p>
    </a>
</li>
<li class="nav-item">
    <a href="#" class="nav-link">
        <i class="nav-icon far fa-circle text-info"></i>
        <p>Rapports Financiers</p>
    </a>
</li>
<li class="nav-item">
    <a href="{{ path('app_boss_to_review') }}" class="nav-link">
        <i class="nav-icon far fa-circle text-info"></i>
        <p>Projets A Revoir</p>
    </a>
</li>
<li class="nav-item">
    <a href="{{ path('app_boss_rejected_projects') }}" class="nav-link">
        <i class="nav-icon far fa-circle text-info"></i>
        <p>Projets Rejetés</p>
    </a>
</li>
<li class="nav-item">
    <a href="{{ path('app_boss_add_employee') }}" class="nav-link">
        <i class="nav-icon far fa-circle text-info"></i>
        <p>Ajouter un nouveau employé</p>
    </a>
</li>
<li class="nav-item">
    <a href="{{ path('app_boss_list_employees') }}" class="nav-link">
        <i class="nav-icon far fa-circle text-info"></i>
        <p>Liste des Employés</p>
    </a>
</li>
