
<li class="nav-item">
    <a href="{{ path('app_sec_eligibility') }}" class="nav-link">
        <i class="nav-icon far fa-circle text-info"></i>
        <p>Vérifier L'éligibilité du client</p>
    </a>
</li>
<li class="nav-item">
    <a href="{{ path('app_sec_add_client') }}" class="nav-link">
        <i class="nav-icon far fa-circle text-info"></i>
        <p>Enregistrer Un Nouveau Client</p>
    </a>
</li>
<li class="nav-item">
    <a href="{{ path('app_sec_register_project') }}" class="nav-link">
        <i class="nav-icon far fa-circle text-info"></i>
        <p>Enregistrer Un Nouveau Projet</p>
    </a>
</li>
<li class="nav-item">
    <a href="{{ path('app_sec_waiting_control') }}" class="nav-link">
        <i class="nav-icon far fa-circle text-info"></i>
        <p>Projets En Attente De Revue</p>
    </a>
</li>
<li class="nav-item">
    <a href="{{ path('app_sec_interview') }}" class="nav-link">
        <i class="nav-icon far fa-circle text-info"></i>
        <p>Projets prets pour l'entretien</p>
    </a>
</li>
