{% extends 'layout.html.twig' %}

{% block body %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Liste Des Employés</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Liste Des Employés</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">

                <!-- right column -->
                <div class="col-lg-12">

                    <!-- general form elements disabled -->
                    <div class="card card-warning">
                        <div class="card-header">
                            <div class="row">
                                <div class="col">
                                    <h3 class="card-title">Informations des employés de la compagnie</h3>
                                </div>
                            </div>
                        </div>

                        <!--LE tableau des data des clients du team -->
                        <div class="card-body table-responsive p-0">
                            {% if employeesData %}
                                <table class="table table-hover text-nowrap">
                                    <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Nom et prenoms</th>
                                        <th>Date de naissance</th>
                                        <th>Genre</th>
                                        <th>Fonction</th>
                                        <th>No piece d'identité</th>
                                        <th>Nationalité</th>
                                        <th>Telephone</th>
                                        <th>Email</th>
                                        <th>Addresse</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for data in  employeesData %}
                                        <tr>
                                            <td>{{ data.id }}</td>
                                            <td>{{ data.fullName }}</td>
                                            <td>{{ data.birthDate | date('d-m-Y')}}</td>
                                            <td>{{ data.gender }}</td>
                                            <td>{{ data.roles[0] | getRole(data.roles[0]) }}</td>
                                            <td>{{ data.idDocNumber }}</td>
                                            <td>{{ data.nationality }}</td>
                                            <td>{{ data.phoneNumber }}</td>
                                            <td>{{ data.email }}</td>
                                            <td>{{ data.address }}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            {% endif %}
                        </div>
                        <div class="card-footer">
                            <form method="post">
                                {% if employeesData %}
                                    <div class="card-footer">
                                        <a type="button" class="btn btn-secondary col"
                                           href="{{ path('admin') }}">
                                            <i class="fas fa-times-circle"></i>
                                            <span>Quitter</span>
                                        </a>
                                    </div>
                                {% endif %}
                            </form>
                        </div>
                    </div>
                    <!-- /.card -->

                </div>
                <!--/.col (right) -->
            </div>
            <!-- /.row -->
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
{% endblock %}


