{% extends 'layout.html.twig' %}

 {% block stylesheets %}
     {{ parent() }}
     {{ encore_entry_link_tags('datatable') }}
 {% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('datatable') }}
{% endblock %}

{% block body %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Rapports Financiers Des Projets</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Rapports Financiers</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <!-- Main content -->
    <section class="content">
        <div class=" container-fluid">

            <div class="row">
                <div class="col">
                    <div class="app-card app-card-orders-table shadow-sm mb-5">

                        <div class="card card-warning">
                            <!--LE tableau  -->
                            <div class="card-body">
                                <form method="post">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <!-- text input -->
                                            <div class="form-group">
                                                <label>Date initiale</label>
                                                <input type="date" required="true" class="form-control" name="startDate"
                                                       placeholder="JJ/MM/AAAA">
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <!-- text input -->
                                            <div class="form-group">
                                                <label>Date limite</label>
                                                <input type="date" required="true" class="form-control" name="endDate"
                                                       placeholder="JJ/MM/AAAA">
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-md-2">
                                        <button type="submit" class="btn btn-info">Voir la liste</button>
                                    </div>
                                </form>
                            </div>
                        </div>

                        <!--LE body du tableau des notes du projet -->
                        <div class="app-card-body table-responsive p-0">
                            <div class="table-responsive">

                            </div>
                            <table id="financialReportTableId" class="table table-bordered table-striped">
                                <thead>
                                <tr>
                                    <th>Identifiant</th>
                                    <th>Nom du projet</th>
                                    <th>Type</th>
                                    <th>Montant</th>
                                    <th>Enregistré par</th>
                                    <th>Date d'operation</th>
                                    <th>Reste a debourser </th>
                                    <th>Reste a rembourser</th>
                                    <th>Details</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for financialDetail in financialDetails %}
                                    <tr>
                                        <td>{{ financialDetail.projectMasterId.requestId }}</td>
                                        <td>{{ financialDetail.projectMasterId.projectId.name }}</td>
                                        <td>{{ financialDetail.type | getType(financialDetail.type) }}</td>
                                        <td>{{ financialDetail.amount }}</td>
                                        <td>{{ financialDetail.userId.fullName }}</td>
                                        <td>{{ financialDetail.updatedAt | date('d-m-Y H:i:s') }}</td>
                                        <td>{{ financialDetail.amountToSend }}</td>
                                        <td>{{ financialDetail.amountToReceive }}</td>
                                        <td>{{ financialDetail.extra }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- /.card -->
                </div>
            </div><!--//app-content-->

        </div><!--//app-wrapper-->
    </section>
    <!-- /.content -->
{% endblock %}
