{% extends 'layout.html.twig' %}

{% block body %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>General Form</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">General Form</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <!-- Main content -->
    <section class="content">
        <div class=" container-fluid">

            <div class="row">
                <div class="col">
                    <div class="card card-info">
                        <div class="card-header">
                            <div class="row">
                                <div class="col">
                                    <h3 class="card-title" >Details Financiers</h3>
                                </div>
                            </div>
                        </div>

                        <!--LE body du tableau des notes du projet -->
                        <div class="card-body table-responsive p-0">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>ID du projet</th>
                                    <th>Nom du projet</th>
                                    <th>Type</th>
                                    <th>Montant</th>
                                    <th>Enregistré par</th>
                                    <th>Montant restant a debourser pour le projet</th>
                                    <th>Montant restant a rembourser</th>
                                    <th>Details</th>
                                    <th>Date d'operation</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for financialDetail in financialDetails %}
                                    <tr>
                                        <td>{{ financialDetail.projectId.projectId }}</td>
                                        <td>{{ financialDetail.projectId.name }}</td>
                                        <td>{{ financialDetail.type | getType(financialDetail.type) }}</td>
                                        <td>{{ financialDetail.amount }}</td>
                                        <td>{{ financialDetail.operationExecutor.nameSurname }}</td>
                                        <td>{{ financialDetail.amountLeftToBeSentByUs }}</td>
                                        <td>{{ financialDetail.amountLeftToBePaidToUs }}</td>
                                        <td>{{ financialDetail.extra }}</td>
                                        <td>{{ financialDetail.updatedAt | date('d-m-Y H:i:s') }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- /.card -->
                </div>
            </div><!--//app-content-->

        </div><!--//app-wrapper-->
    </section>
    <!-- /.content -->


{% endblock %}
