<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="{{ path('admin') }}" class="brand-link">
        <img src="{{ asset('build/images/image_phenix.png')}}" alt="PHENIX Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
        <span class="brand-text font-weight-light">PHENIX</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="{{ asset('build/images/account.png') }}" class="img-circle elevation-2" alt="User Image">
            </div>
            <div class="info">
                <a href="#" class="d-block">{{ app.user.nameSurname }}</a>
            </div>
        </div>

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <!-- Add icons to the links using the .nav-icon class
                     with font-awesome or any other icon font library -->
                <li class="nav-item menu-open">
                    <a href="#" class="nav-link active">
                        <i class="nav-icon fas fa-tachometer-alt"></i>
                        <p>
                            Dashboard
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                </li>

                <!-- A revoir le yonlendirme en fonction du user-->

                {% if is_granted('ROLE_USER') and is_granted('ROLE_SECRETARY') %}
                    {{ include('extensions/admin/role/secretary.html.twig') }}
                {% elseif is_granted('ROLE_USER') and is_granted('ROLE_BOSS') %}
                    {{ include('extensions/admin/role/boss.html.twig') }}
                {% elseif is_granted('ROLE_USER') and is_granted('ROLE_ACCOUNTANT') %}
                    {{ include('extensions/admin/role/accountant.html.twig') }}
                {% elseif is_granted('ROLE_USER') and is_granted('ROLE_EXPERT') %}
                    {{ include('extensions/admin/role/expert.html.twig') }}
                {% endif %}

                <li class="nav-item">
                    <a href="{{ path('app_consult_status_client') }}" class="nav-link">
                        <i class="nav-icon far fa-circle text-info"></i>
                        <p>Consulter Le Statut D'un Client</p>
                    </a>
                </li>

                <li class="nav-item">
                    <a href="{{ path('app_consult_status') }}" class="nav-link">
                        <i class="nav-icon far fa-circle text-info"></i>
                        <p>Consulter Le Statut D'un Projet</p>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>