<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/pin.css') }}">
    {% endblock %}
</head>
<body>
{{ include('extensions/nav.html.twig') }}


{% for type, messages in app.flashes %}
    {% for message in messages %}
        <div class="alert alert-{{ type }}" role="alert">
            {{ message }}
        </div>
    {% endfor %}
{% endfor %}
<main role="main" class="container">
    {% block body %}{% endblock %}
</main>
{% block javascripts %}{% endblock %}
{{ include('extensions/footer.html.twig') }}
</body>
</html>
