<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}PHENIX | Dashboard{% endblock %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('admin') }}
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">

        <!-- Ionicons -->
        <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">

        <!-- Tempusdominus Bootstrap 4 -->
        <link rel="stylesheet" href="plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">


    {% endblock %}
</head>

<body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">
        {{ include('extensions/admin/nav.html.twig') }}
        {{ include('extensions/admin/sidebar.html.twig') }}

        <div class="content-wrapper">
            {% block body %}{% endblock %}
        </div>

        {{ include('extensions/admin/footer.html.twig') }}
        {{ include('extensions/admin/control-sidebar.html.twig') }}
    </div>



{% block javascripts %}
    {{ encore_entry_script_tags('admin') }}

    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    <script>
        $.widget.bridge('uibutton', $.ui.button)
    </script>

    <!-- jQuery Knob Chart -->
    <script src="plugins/jquery-knob/jquery.knob.min.js"></script>


    <!-- AdminLTE for demo purposes -->
    <script src="dist/js/demo.js"></script>
    <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
    <script src="dist/js/pages/dashboard.js"></script>
{% endblock %}
</body>
</html>
